/* reset generale*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* a{
    text-decoration: none;
}

button{
    border-radius: 20px;
    padding: .5em 1em;
    border: none;
}

ul{
    list-style-type: none;
}

i{
    color: white;
}


/* COMMON */
html{
    font-family: 'Whitney', sans-serif;
    font-size: 100%;
}

.flex-box{
    display: flex;
}

.grow-1{
    flex-grow: 1;
}

.order-negativo{
    order: -1;
}

.space-between{
    justify-content: space-between;
}

.container{
    width: 70%;
    padding: .25em;
    margin: 0 auto;
}

.sfondo-bianco{
    background-color: white;
    color: black;
}

.sfondo-nero{
    background-color: black;
    color: white;
}

.sfondo-viola{
    background-color: #5B6EAE;
    color: white;
}

.border-bottom{
    border-bottom: 1px solid #5B6EAE;
}




/* HEADER */

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    color: white;
}

    /* HEADER - NAV */
header nav{
    min-height: 70px;
}

header div span{
    width: 20%;
    min-height: 40px;
    line-height: 40px;
}

header div span:last-child{
    text-align: right;
}

header nav ul{
    text-align: center;
}

header nav ul li{
    margin: 0 .2em;
    display: inline-block;
}

header nav ul li a{
    color: white;
}

    /* HEADER-JUMBO */
header .jumbo{
    padding: 3em 0;
    min-height: 400px;
}

header .jumbo div{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 4em;
}

header .jumbo div p{
    margin: 1.5em 0;
}


header .jumbo div p button{
    margin: 0 1em;
}



/* MAIN */

main section{
    padding: 1em 0;
}

main section:nth-child(even){
    background-color: lightgray;
}


    /* PRIME TRE SEZIONI */
main div.item{
    width: 33%;
    padding: 1.5em;
}

main div.item:first-child{
    flex-grow: 1;
}

main div.item img{
    max-width: 100%;
}

main div.item p ,
main div.item h1{
    margin-top: 1em;
}


    /* SEZIONE SPECIALE */
.speciale-bottom{
    text-align: center;
}

.speciale-bottom h1 ,
.speciale-bottom p,
.speciale-bottom h2 {
    margin: 1em 1em;
    
}

.speciale-bottom img{
    max-width: 100%;
}

/* FOOTER */
footer{
    background-color: #1C1F22;
}

    /* FOOTER TOP */

footer section{
    padding-top: 1em;
    padding-bottom: 2em;
}

footer section div.item{
    width: 17%;
    padding-top: 3em;
}

footer section div.item:first-child{
    flex-grow: 1;
}

footer div.item h2 ,
footer div.item h4{
    color: #5B6EAE;
}

footer div.item h4{
    margin-top: 2em;
    margin-bottom: 1em;
}

footer div.item h2 ,
footer div.item p ,
footer div.item ul li {
    margin: 1em 0;
}

footer div.item a{
    color: white;
}

#logo-scritta{
    display: inline-block;
    margin: 0 .2em;
    color: white;
}

#logo-ita{
    width: 20px;
}


    /* FOOTER BOTTOM */

